@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis|Notable&display=swap');

*{
    font-family: 'Dosis', sans-serif;
}

body{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
    background: burlywood;
}

.chat-box{
    border: 1px solid #dedede;
    background: #fff;
    padding: 5px;
    width: 60vw;
    height: 40vh;
    margin: 40px 0px;
    overflow-y: scroll;
}


.cta{
    display: flex;
    justify-content: center;
}

.cta input{
    flex-basis: 400px;
    outline: aquamarine;
    margin: 0px 10px;
}

#send{
    border: none;
    outline: none;
    padding: 5px 13px;
    background: blue;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 375px){
    .cta{
        display: flex;
        flex-direction: column;
    }

    .cta input{
        flex-basis: 50px;
        margin: 10px 0;
    }
}
