@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis|Notable&display=swap');

*{
    font-family: 'Dosis', sans-serif;
}

body{
    display: flex;
}

.container{
    display: flex;
    margin: auto;
    border: 1px solid #dedede;
    padding: 20px
}
.chat-messenger{
    margin: auto;
    background: orange;
    padding: 30px;
}
